:root {
  --main-color: rgb(0, 79, 227);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: rgba(220, 235, 255, 0.895);
  position: sticky;
  top: 0;
}
.title {
  color: var(--main-color);
  margin-left: 20px;
  font-weight: 700;
  text-decoration: none;
  font-size: 40px;
}
.button-container {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}
.button {
  padding: 12px 25px;
  border-radius: 10px;
  border: solid 2px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}
.button.login:hover {
  opacity: 0.8;
}
.button.signup:hover {
  background-color: rgb(241, 241, 241);
}
.button.login {
  background-color: var(--main-color);
  padding: 14px 26px;
  color: white;
}
.button.signup {
  color: var(--main-color);
  background-color: white;
}
.home {
  margin-left: 50px;
  padding-top: 20px;
  /* height: 100vh; */
}
.home .welcome {
  font-size: 20px;
  font-weight: 500;
}
.home .account-number {
  font-size: 16px;
  font-weight: 400;
}
.home .balance {
  font-weight: 500;
}
.pages {
  background-color: rgb(236, 242, 242);
  color: var(--main-color);
}

.balance-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.balance-container .display-balance-button {
  border: none;
  cursor: pointer;
}

.error {
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 110, 110, 0.721);
  color: red;
  text-align: center;
}

.loading {
  color: var(--main-color);
  text-align: center;
  margin-top: 50px;
  background-color: white;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.login-form label {
  margin-top: 10px;
}

.login-form .button.login,
.signup-form .button.login {
  margin-top: 20px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-form label {
  padding-top: 10px;
}
